<style>
    .hover-end{padding:0;margin:0;font-size:75%;text-align:center;position:absolute;bottom:0;width:100%;opacity:.8}
</style>
<div class="title">
    <h2>SINH NHẬT KHÁCH HÀNG</h2>
</div>
<div id="me_calendar">
<div id="calendar" class="title" style="margin-bottom:30px;"> </div>
</div>
 
<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({

            events: '@Url.Content("/Contact/getBD")',
            eventClick: function (calEvent, jsEvent, view) {
                var date = new Date(calEvent.start);
                alert('Sinh nhật ' + calEvent.title + ' ' + date.toLocaleDateString());
            },
            eventMouseover: function (event, jsEvent, view) {
                var date = new Date(event.start);
                $('.fc-event-inner', this).append('<div id=\"' + event.id + '\" class=\"hover-end\">Sinh nhật ' + event.title + ' ' + date.toLocaleDateString() + '</div>');
            },
            eventMouseout: function(event, jsEvent, view) {
                $('#'+event.id).remove();
            }
            
        });
$('.fc-button-prev>span').click(function ()
            {
                $('body').height($('.title').height()+ $('#calendar').height()+ $('.fc-view-container').height() + 140);
                $('#me_calendar').height($('.title').height() + $('#calendar').height() + $('.fc-view-container').height() + 40);
});
$('.fc-button-next>span').click(function () {
    $('body').height($('.title').height() + $('#calendar').height() + $('.fc-view-container').height() + 140);
    $('#me_calendar').height($('.title').height() + $('#calendar').height() + $('.fc-view-container').height() + 40);
});

       // $('#body').height(620);
    });

</script>
