<div class="title">
    <h2>SINH NHẬT KHÁCH HÀNG</h2>
</div>
<div id="calendar" class="title">
</div>
<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({

            events: '@Url.Content("/Contact/getBD")'
        });
        $('#body').height(620);
    });

</script>
