@{
    ViewBag.Title = "DMKhachHang";
    ViewBag.Title = "thongTinLienHe";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dm_khach_hang = ViewBag.v_dm_kh as List<List<BKI_CRM2.Models.Contact>>;
    var tu_dien = ViewBag.v_tu_dien as List<BKI_CRM2.Models.TuDien>;
    var state = ViewBag.state as List<BKI_CRM2.Models.ContactState>;
    var account = ViewBag.v_account as List<BKI_CRM2.Models.Account>;
    var idus = ViewBag.idus;
    var nameus = ViewBag.nameus;
    var idct = ViewBag.idct;
    var namect = ViewBag.namect;
    var v_us_ct = ViewBag.v_us_ct;
}
<style>
    .mau {
        width: 100px;
    }

    .marginleft {
        margin-left: 200px;
    }

    .width220px {
        width: 220px;
    }

    .height_input {
        height: 34px !important;
    }
    .height {
      height:600px;
      border:1px dashed #333399;
    }

</style>
<div class="container-fluid" style="margin-left:30px;">
<div class="title">
    <h2>Báo cáo trong tháng</h2>
</div>

<div class="row" style="margin-top:30px;">

    <div class="col-xs-12 col-md-5 height">
      <div class="title">
         <h3>Khách hàng mới</h3>
        </div>
      <div>
           <table class=" mytable display" id="mytable1">
                <thead>
                    <tr>
                        <th>Họ và tên</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
      </div>
  </div>

  <div class="col-xs-12 col-md-1"></div>

  <div class="col-xs-6 col-md-5 height">
      <div class="title">
         <h3>Khách hàng sắp hết hạn</h3>
        </div>
       <div>
           <table class="mytable display" id="mytable2">
                <thead>
                    <tr>
                        <th>Họ và tên</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
      </div>
  </div>
</div>
 <div class="row"  style="margin-top:30px;margin-bottom:30px;">
        <div class="col-xs-12 col-md-3 height">
            <div class="title">
                <h3>Hợp đồng mới</h3>
            </div> 
        <div>
           <table class="mytable" id="mytable3">
                        <thead>
                        <tr>
                            <th>Số hợp đồng</th>
                            <th>Nội dung</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
            </table>
         </div>
        </div>

        <div class="col-xs-12 col-md-1"> </div>

        <div class="col-xs-6 col-md-3 height">
             <div class="title">
                 <h3>Hợp đồng sắp hết hạn</h3>
             </div>
              <div>
                   <table class=" mytable" id="mytable4">
                            <thead>
                            <tr>
                                <th>Số hợp đồng</th>
                                <th>Nội dung</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
             </div>
        </div>

         <div class="col-xs-12 col-md-1"></div>

        <div class="col-xs-6 col-md-3 height">
             <div class="title">
                 <h3>Công việc </h3>
             </div>
              <div>
                   <table class="mytable" id="mytable5">
                    <thead>
                    <tr>

                        <th>Nội dung</th>
                        <th>Dự kiến hoàn thành</th>
                        <th>Nhân viên thực hiện</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                    </table>
              </div>
        </div>

  </div>
</div>
<script>
    $(document).ready(function () {

        $('#mytable1').dataTable();
       

      
       

    });
    $('#mytable1').dataTable({
        "scrollY": "200px",
        "scrollCollapse": true,
        "paging": false
    });
   

   
    
   
   
</script>